
html{
    width: 100vw;
    background-color: #e4e4e4;
    font-size: 1vw;

    font-family: 'Alegreya', serif;
}


main{
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;

    display: flex;   
    align-items: stretch; 
}

h2{
    font-family: 'Acme', sans-serif;

}

    .gauche{
        flex: 1 1 25%;
        padding: 2rem;

        background-color:hsl(177, 94%, 30%);
        color: white;
        }
        
        .gauche>img{
            display: block;
            margin-right: auto;
            margin-left: auto;
            height: 9rem;
            clip-path: circle(50%);                
        }
        
        .gauche article{
            margin-bottom: 1.5rem ;

        }
        

        .logo{
            height: 1.2rem;
            width: auto;
        }

        .rs{
            display: flex;
            align-items: center;
        }
        
        .gauche h2{
            font-size: 1.4rem;

            border-top: 1px solid #E4E4E4;
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin-top: 2rem;

        }

        #info-perso p{
            display: flex;
            gap: 1rem;

            background-color: rgb(228, 228, 228, 0.3);
            padding: 0px 15px;
            margin-bottom: 5px;
            border-radius: 10px;


        }



    .droite{
        flex: 1 1 75%;
        padding: 3rem;
        }
        
        .droite>*{
            margin-bottom: 2rem;
         }

        .droite header{
            color:#05948D;
            
            text-align: center;
            border-bottom: 2px solid #05948d;

            padding: 1.5rem;
            margin-bottom: 3rem;

            
            font-family: 'Abril Fatface', display;     
            
            
        }

            .droite h1{
                font-size: 3rem;
                font-weight: normal;
            
            }
            .droite header p{
                font-size: 1.5rem;
            }

        .droite h2{
            color: #05948D;
            font-size: 1.4rem;
            text-decoration: underline;
            margin-bottom: 0.5rem;
            
        }
        .droite a{
            color: black;
        }

        .droite a:hover{
            text-decoration: none;
            color: #05948d;
        }

       .droite article {
        display: flex;
        gap: 1rem;

        padding: 0.5rem 1rem;
        background-color: rgba(243, 243, 243, 0.959);
        border-radius: 10px;
        margin-bottom: 1rem;
               }
        
        .date{ 
            flex: 1 1 10%;          
            font-weight: bold;
            font-size: 0.9rem;
        }

        .activite{
            flex: 1 1 90%;
            border-left: 1px solid #05948D;
            padding-left: 1rem;

            font-weight: 400;
        }
               


